@media (orientation:landscape){

	.burger_menu{
		display: none;
	}

 }

 @media (orientation:portrait){ 
 	.intro_title{
 		font-size:200px
 	}

 	.nav_header{
		display:none
	}

	.burger_menu{
		display: block;
	}

	.logo_img{
		display: none;
	}

	.container{
		max-width: 900px;
	}

	.intro_slider{
		display: none;
	}

	.section_title{
		font-size: 90px;
	}

	.section_subtitle{
		font-size: 60px;
	}

	.intro{
		height: 750px;
	}

	.intro_subtitle{
		font-size: 50px;
	}

	.intro_subtitle:after{
		margin-top: 200px;
	}

	.button{
		font-size: 40px;
	}
 }