@media (orientation:landscape){

	.burger_menu{
		display: none;
	}
 }

@media (orientation:portrait){ 

 	.intro_title{
 		font-size:200px;
 		padding-top: 60px;
 	}

 	.header{
 		padding-top: 20px;
 	}

 	.nav_header{
 		/*display:none;*/
 		font-size: 25px;
 		/*margin-bottom: 50px;*/
 	}

	.burger_menu{
		display: block;
	}

	.logo_img{
		display: none;
	}

	.container{
		max-width: 900px;
	}

	.intro_slider{
		display: none;
	}

	.section{
		height: 750px;
	}

	.section--works{
		height: 180px;
	}

	.section_title{
		font-size: 100px;
	}

	.section_title:after{
		margin-top: 20px;
	}

	.about_item{
		width: 30%;
	}
	
	.colors_item{
		width: 30%;
	}
	
	.section_text{
		font-size: 25px;
	}

	.section_subtitle{
		font-size: 60px;
	}

	.intro{
		height: 750px;
	}

	.intro_subtitle{
		font-size: 50px;
	}

	.button{
		font-size: 40px;
	}

	.section--shop_header{
		height: 45vw;
	}

	.section--shop_main{
		height: 100vw;
	}

	.services_item{
		font-size: 30px;
	}

	.colors_item{
		font-size: 30px;
	}

	.nav_link--dark{
		font-size: 35px;
	}
 }