body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color:  #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	max-height: 100%;
}

/*Header*/

.header {
	padding-top: 10px;
	width: 100%;
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.inner_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo_header {
	font-size: 30px;
	font-weight: 700;
	opacity: 80%;
}

.logo_img{
	width: 13vw;
}

.nav_header {
	font-size: 18px;
	text-transform: uppercase;
}

.nav_link {
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	transition: color 0.2s linear;
}

.nav_link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;

	background-color: #fff;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 100%;

	transition: opacity .1s linear;
}

.nav_link:hover{
	color: #fff;
	opacity: 1;
}

.nav_link:hover:after {
	opacity: 1;
}

/* INTRO */

.intro {
	height: 47vw;
	margin = 0;
	text-align: center;
	/*height: 100vh;*/
	background: url("../img/green.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.inner_title {
	margin: auto;
	/*max-width: 900px;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro_title{
	/*font-size: 150px;*/
	font-size: 15vw;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	padding-top: 40px;
	opacity: 0.6;
	/*flex-grow: 5;*/
	/*color: #fff;*/
}

.text_big{
	/*font-size: 100px;*/
	font-size: 8vw;
	text-align: center;
	text-transform: uppercase;
	margin-right: 30px;
	margin-left: 30px;
	color: #fff;
	opacity: .5;
}

.text_small{
	font-size: 50px;
	text-align: center;
	color: #333;
}

.burger_menu{
	display: inline-block;
	padding: 6px 15px;
	opacity: 0.5;
}

.intro_subtitle{
	font-family: 'Kaushan Script', cursive;	
	/*font-size: 50px;*/
	font-size: 3vw;

	margin: auto;
	color: #333;
	
	max-width: 800px;
	width: 100%;
	
	font-weight: 700;
	text-align: center;
	flex-grow: 2;
}

.intro_subtitle:after{
	width: 100%;
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #fff;
	opacity: .3;
	margin: 3vw auto 0;
}

.button{
	display: inline-block;
	
	padding: 6px 15px;
	color: #fff;
	opacity: 0.3;
	font-family: 'Kaushan Script', cursive;
	/*font-size: 25px;*/
	font-size: 2vw;
	text-decoration: none;
	font-weight: 700;

	transition: opacity .1s linear;
}

.button:hover{
	opacity: 1;
}

.intro_slider{
	width: 80%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 10px;
}

.slider_item{
	text-decoration: none;
	/*font-size: 14px;*/
	font-size: 1.2vw;
	color: #fff;
	/*margin-top: 85px;
	margin-bottom: 40px;*/
	border-top: 3px solid;
	width: 15%;
	opacity: 0.3;
}

.slider_item:hover{
	opacity: 1;
}

/* ACTIVITIES */

.activities{
	background-color: #444;
}

.act_inner{
	display: flex;
	justify-content: space-between;
}

.act_item{
	color: #fff;
	border-right: 1px solid #fff;
	opacity: 0.9;
	width: 19%;
	text-align: center;
	padding-top: 2vw;
	padding-bottom: 2vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

.act_item:nth-child(5){
	border-right: none;
}

/*SECTION WITH PIC*/

.section{
	padding: 10px 0;
	width: 100%;

	background: url("../img/bg_1.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.section--works{
	background: url("../img/green2.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.section--services{
	background: none;
	background-color: #92af83;
}

.section_header{
	text-align: center;
	width: 100%;
	max-width: 1000px;
	margin:0 auto 50px;
}

.section_text{
	font-size: 23px;
	opacity: 0.5;
}

.section_title{
	/*font-size: 60px;*/
	font-size: 9vw;
	font-weight: 700;
	text-transform: uppercase;
}

.section_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #8e897a;
	margin: 20px auto 20px;
}

.section_subtitle{
	font-family: 'Kaushan Script', cursive;	
	font-size: 40px;
	margin-bottom: 20px;
}

.about{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.about_item{
	width: 30%;
	background-color: #8e897a;
	border-radius: 10px;
}

.about_item:hover .about_item_img img{
	opacity: 1;
}

.about_item:hover .about_item_img{
	transform: translate3d(-10px, -10px, 0);
	
}

.about_item_img{
	/*background: linear-gradient(#333, #f6f0dd);*/
	background-color: #f6f0dd;
	border-radius: 10px;
	transition: transform .2s linear;

}

.about_item_img img{
	display: block;
	transition: opacity .2s linear;
	border-radius: 10px;
}

.about_item_text{
	font-size: 14px;
}

.colors{
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.colors_item{
	width: 30%;
}

.colors_hash{
	color: #d5ccb3;
}

.colors_hash--2{
	color: #933ab5;
}

.colors_hash--3{
	color: #5e1d21;
}
/*FOOTER*/

.footer{
	padding-top: 10px;
	background-color: #111;
	text-align: center;
}

.footer_title{
	color: #fff;
	opacity: 0.3;
	transition: opacity .1s linear;
}

.footer_title:hover{
	opacity: 0.9;
}

.footer_text{
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
	opacity: 0.3;
	transition: opacity .1s linear;
	padding-top: 10px;
	padding-bottom: 14px;
}

.footer_text:hover{
	opacity: 0.9;
}

.socials{
	margin: auto;
	padding-bottom: 15px;
	max-width: 300px;
	align-content: center;
	display: flex;
	justify-content: space-between;
	
}

.socials_item{
	opacity: 0.3;
	transition: opacity .1s linear;
	margin: 0, 20px;
}

.socials_item:hover{
	opacity: 0.9;
}

.copyright{
	color: #fff;
	opacity: 0.3;
	font-size: 14px;
	padding-bottom: 10px;
}

/* SERVICES */
.services{
	padding-top: 40px;
	display: flex;
	/*justify-content: space-between;*/
}

.services_item{
	padding-left: 90px;
	padding-right: 20px;
	margin-bottom: 150px;
	position: relative;
	flex: 1 1 0;
	border-right: 1px solid #fff;

}

.services_item:nth-child(1){
	border-left: 1px solid #fff;
}

.services_ico{
	position: absolute;
	top: 7px;
	left: 30px;
	z-index: 1;
	width: 15%;
}

.services_ico--links{
	position: absolute;
	opacity: 0.5;
	transition: opacity .1s linear;
	top: 150px;
	left: 105px;
	z-index: 1;
	width: 15%;
}

.services_ico--links:hover{
	opacity: 1;
}

.services_title{
	font-family: 'Kaushan Script', cursive;
	font-size: 4vw;
	text-align: center;
}

.services_title--2{
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
	text-align: center;
}

.services_title--3{
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
	opacity: .6;
	text-align: center;
}

.services_text{
	text-align: center;
	font-size: 2vw;
}

.text_big--services{
	font-size: 12vw;
}

.text_big--services:after{
	width: 100%;
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #333;
	opacity: .9;
	margin: 28px auto 0;
	margin-bottom: 28px;
}

.section_title--com{
	text-transform: lowercase;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	opacity: .3;
}
/*
.section--pasha{
	background: url("../img/bg_2.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
*/